/* inspired by https://twitter.com/thekitze/status/1769067843549553032 */
@utility debug {
  @apply border border-red-500;
}
@utility horizontal {
  @apply flex flex-row;
}
@utility vertical {
  @apply flex flex-col;
}
@utility center-v {
  @apply justify-center;
}
@utility center-h {
  @apply items-center;
}
@utility circle {
  @apply rounded-full shrink-0;
}
